.u-section-1 .u-sheet-1 {
  min-height: 494px;
}

.u-section-1 .u-text-1 {
  margin: 43px 0 0 594px;
}

.u-section-1 .u-image-1 {
  width: 570px;
  height: 408px;
  margin: -399px auto 43px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 423px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 100px;
    margin-left: 366px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 344px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 210px;
    margin-left: 256px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 280px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 120px;
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    width: 270px;
    height: 194px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-right: 20px;
    margin-left: 66px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 532px;
}

.u-section-2 .u-text-1 {
  margin: 0 0 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    width: 700px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    width: 540px;
    margin-top: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    width: 340px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 680px;
}

.u-section-3 .u-text-1 {
  margin: 2px 0 60px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    width: 700px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    width: 340px;
  }
}