.u-section-1 .u-sheet-1 {
  min-height: 440px;
}

.u-section-1 .u-text-1 {
  margin: 45px 0 0 594px;
}

.u-section-1 .u-image-1 {
  width: 518px;
  height: 334px;
  margin: -355px auto 20px 32px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 100px;
    margin-left: 366px;
  }

  .u-section-1 .u-image-1 {
    height: 335px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 210px;
    margin-left: 256px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: 120px;
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    margin-left: 22px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 325px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 20px;
    margin-left: 66px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 220px;
    margin-left: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 184px;
}

.u-section-2 .u-text-1 {
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    width: 700px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    width: 540px;
    margin-top: 60px;
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    width: 340px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 398px;
}

.u-section-3 .u-text-1 {
  margin: 1px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    width: 700px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    width: 340px;
  }
}